<div class="log-page edit-account">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="form-login">
          <h2>Editer votre profil</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", label: ' Nouveau mot de passe', hint: "Laissez blanc si vous ne voulez pas changer de mot de passe", required: false, placeholder: "•••••••••" %>
      <%= f.input :password_confirmation, label: 'confirmation nouveau mot de passe', required: false, placeholder: "•••••••••" %>
      <%= f.input :current_password, label: 'Mot de passe actuel', required: true, placeholder: "•••••••••" %>
    </div>
    <div class="form-inputs" id="start">
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :prenom, autofocus: true, placeholder: "Pierre"%>
        </div>
        <div class="col-xs-6">
          <%= f.input :nom, autofocus: true, placeholder: "Durant" %>
        </div>
      </div>
      <%= f.input :adresse, autofocus: true, placeholder: "21 rue des champs 75005 Paris", input_html: {id: "adresse_user"} %>
      <%= f.input :telephone, autofocus: true, placeholder: "+33600000000"  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
    </div>
  <% end %>


  <p><%= link_to "Effacer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr de vouloir nous quitter? 😢" }, method: :delete %></p>

  <%= link_to "Retour", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
