<div class="log-page register">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="form-login">
          <h2>S'inscrire</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs" id="start">
              <%= f.input :email, autofocus: true, placeholder: "pierre.durant@gmail.com" %>
              <div class="row">
                <div class="col-xs-6">
                  <%= f.input :prenom, autofocus: true, placeholder: "Pierre", error: 'Ce champ est obligatoire.' %>
                </div>
                <div class="col-xs-6">
                  <%= f.input :nom, autofocus: true, placeholder: "Durant", error: 'Ce champ est obligatoire.'  %>
                </div>
              </div>
              <%= f.input :adresse, autofocus: true, placeholder: "21 rue des champs 75005 Paris", input_html: {id: "adresse_user"}, error: 'Ce champ est obligatoire.' %>
              <%= f.input :telephone, autofocus: true, placeholder: "+33600000000", error: 'Ce champ est obligatoire.' %>
              <%= f.input :password, label: "Mot de passe", hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), placeholder: "•••••••••", required: true, error: 'Ce champ est obligatoire.' %>
              <%= f.input :password_confirmation,label: "Confirmer votre mot de passe", placeholder: "•••••••••", required: true %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "S'inscrire", class: "btn btn-primary"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
