<div class="container show-page">
  <div class="tabs tabs-show">
    <a class="tab active" href="#">
      <h3>Maison</h3>
    </a>
    <a class="tab" href="#">
      <h3>Bien-Être</h3>
    </a>
    <a class="tab" href="#">
      <h3>Bord de Mer</h3>
    </a>
    <a class="tab" href="#">
      <h3>Enfant</h3>
    </a>
  </div>
<hr class=separator2>

<h6><%= link_to "back to produits", produits_path, class: "back" %></h6>

  <div class="prod-show">
    <div class="show-left">
      <div class="show-pic">
        <%= cl_image_tag @produit.photo, crop: :thumb, class: "img-responsive" %>
      </div>
      <div class="buy-show">
        <div class="q-show">
          <% if @produit.quantite > 0 %>
            <p class="text-center"><strong>Quantité :</strong> </p>
          <% end %>
        </div>
        <%= simple_form_for @order_item do |f| %>
          <%= f.hidden_field :produit_id, value: @produit.id %>
          <% if @produit.quantite > 0 %>
            <%= f.input :quantity, collection: 1..@produit.quantite, label: false, default: 1, value: @order_item.quantity, class: "form-control"%>
      </div>
      <div class="stock text-center">
        <h4 style="color: green">en stock</h4>
          <%= f.submit "Ajouter au panier", class: "btn btn-block panier" %>
          <% else %>
            <h4  class="text-center" style="color: red;margin-left: -28px;">Produit indisponible</h4>
          <%= f.submit "Ajouter au panier", class: "hidden" %>
        <% end %>
      </div>
        <% end %>
    </div>

    <div class="show-right">
      <h5 class="title text-center"><%= @produit.nom %></h5>
      <hr id="sep">
      <div class="subtitle">
        <h6> <%= number_to_currency(@produit.prix, :locale => :fr)  %></h6>
      </div>
      <div class="stars">

      </div>
      <div class="avis">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalReview">
  write a review
</button>
      </div>
      <div class="details">
        <h6><strong>Description : </strong></h6>
        <p><%= @produit.description %></p>
        <h6><strong> Poids : </strong></h6>
        <p><%= @produit.poids%> <%= @produit.unit %></p>
        <h6><strong> Composition : </strong></h6>
        <p><%= @produit.composition %></p>
        <h6><strong> Utilisation : </strong></h6>
        <p><%= @produit.utilisation %></p>
        <h6><strong> Paiement sécurisé </strong></h6>
      </div>
    </div>
  </div>

  <div class="comments">
    <h6>Commentaires & notes</h6>
    <hr class="separator2">

    <div class="avg-rating">
      <p>Average rating</p>
      <% if @produit.reviews.empty? %>
                    <h6>No review yet ...</h6>
                  <% else %>
                    <%= "⭐️" * @produit.reviews.average(:rating) %>
                  <% end %>
    <hr class="separator2">
    </div>
    <div class="list-group">
      <% @produit.reviews.each do |review| %>
      <p><%= review.author %></p>
        <li class="list-group-item">
          <small>
            <% count = 0 %>
            <% 5.times do %>
              <% if review.rating > count %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
                <% count += 1 %>
              <% end %>
          </small>
          <br>
          <p><%= review.content %></p>
          <% if review.recommend == true %>
            <p><i class="fas fa-check-circle"></i> Oui, je recommande ce produit</p>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>






  <%= render template: "reviews/new" %>
</div>
