  <%= render "shared/tab" %>

<div class="container">

<h6><%= link_to "back to produits", produits_path, class: "back" %></h6>

  <div class="prod-show">
    <div class="show-left">
      <div class="show-pic">
        <%= cl_image_tag @produit.photo, crop: :thumb, class: "img-responsive" %>
      </div>
      <div class="buy-show">
        <div class="q-show">
          <% if @produit.quantite > 0 %>
            <p class="text-center"><strong>Quantité :</strong> </p>
          <% end %>
        </div>
        <%= simple_form_for @order_item do |f| %>
          <%= f.hidden_field :produit_id, value: @produit.id %>
          <% if @produit.quantite > 0 %>
            <%= f.input :quantity, collection: 1..@produit.quantite, label: false, default: 1, value: @order_item.quantity, class: "form-control"%>
      </div>
      <div class="stock text-center">
        <h4 style="color: green">en stock</h4>
          <%= f.submit "Ajouter au panier", class: "btn btn-block panier" %>
          <% else %>
            <h4  class="text-center" style="color: red;margin-left: -28px;">Produit indisponible</h4>
          <%= f.submit "Ajouter au panier", class: "hidden" %>
        <% end %>
      </div>
        <% end %>
    </div>

    <div class="show-right">
      <h5 class="title text-center"><%= @produit.nom %></h5>
      <hr id="sep">

      <div class="sub-right">
        <div class="subtitle">
          <h6> <%= number_to_currency(@produit.prix, :locale => :fr)  %></h6>
        </div>
        <div class="stars-big">
          <% if @produit.reviews.empty? %>
            <% 5.times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% else %>
            <p>
              <% count = 0 %>
              <% 5.times do %>
                <% if @produit.reviews.average(:rating) > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </p>
          <% end %>
        </div>
        <p id="up-nb-comments"> (<%= @produit.reviews.count %>)</p>
      </div>


      <div class="details">
        <h6><strong>Description : </strong></h6>
        <p><%= @produit.description %></p>
        <h6><strong> Poids : </strong></h6>
        <% if @produit.poids == nil %>
          <br>
        <% else %>
          <p><%= @produit.poids%> <%= @produit.unit %></p>
        <% end %>

        <h6><strong> Composition : </strong></h6>
        <p><%= @produit.composition %></p>
        <h6><strong> Utilisation : </strong></h6>
        <p><%= @produit.utilisation %></p>
        <h6><strong> Paiement sécurisé </strong></h6>
      </div>

    </div>

  </div>

  <div class="wrapper">
    <div class="comments">
      <h6><strong>Commentaires & notes</strong></h6>
      <hr class="separator2">

      <div class="com-sub">
        <div class="com-sub-left">
          <div class="avg-rating">
            <% if @produit.reviews.empty? %>
              <h6>Pas encore de commentaire ...</h6>
            <% else %>
                <p id="avg-title">Note moyenne</p>
                <p>
                  <% count = 0 %>
                  <% 5.times do %>
                    <% if @produit.reviews.average(:rating) > count %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% count += 1 %>
                  <% end %>
                </p>
            <% end %>
              <p id="nb-comments"> (<%= @produit.reviews.count %>)</p>
          </div>
        </div>
        <div class="com-sub-right">
          <button type="button" class="btn btn-avis" data-toggle="modal" data-target="#modalReview">Ecrire un avis</button>
        </div>
      </div>

      <hr class="separator2">
      <div class="list-group">
        <% @produit.reviews.each do |review| %>
          <li class="review-item">
            <div class="review-left">
              <div class="stars">
                <p>
                  <% count = 0 %>
                  <% 5.times do %>
                    <% if review.rating > count %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                      <% count += 1 %>
                    <% end %>
                </p>
              </div>
              <% if review.recommend == true %>
                <p><i class="fas fa-check-circle"></i> Oui,  je recommande ce produit</p>
              <% end %>
            </div>
            <div class="review-right">
              <p id="author"><%= review.author %></p>
              <p><%= review.content %></p>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </div>


  <%= render template: "reviews/new" %>
</div>
