<footer class="footer" >
  <section class="reinsurance">
    <div class="container">
      <div class="row" id="reinsurance-row">
        <div class="col-xs-6 col-sm-3 reinsurance-item">
          <div class="suppliers">
            <%= image_tag "quality2.png", class: "icon-footer", alt: "la cabane de maï- Fournisseurs de qualité"%>
            <p>Fournisseurs et produits <br>
            triés sur le volet</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 reinsurance-item">
          <div class="selection">
            <%= image_tag "eco.png", class: "icon-footer hidden-xs hidden-sm", alt: "la cabane de maï - produits naturels"%>
            <%= image_tag "craft.png", class: "icon-footer", alt: "la cabane de maï - produits artisanaux"%>
            <p>Sélections exclusives de cadeaux <br>
            naturels et artisanaux</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 reinsurance-item">
          <div class="delivery">
            <%= image_tag "truck1.png", class: "icon-footer", alt: "la cabane de maï - Livraison"%>
            <p>Livraison Colissimo<br>
              (offerte à partir de 50 €)</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 reinsurance-item">
          <div class="security">
            <%= image_tag "lock.png", class: "icon-footer", id:"lock", alt: "la cabane de maï - Paiement sécurisé"%>
            <p>Paiement sécurisé</p>
            <a href="https://www.stripe.com/fr/" target="_blank" rel="noopener noreferrer"><%= cl_image_tag("powered_by_stripe1.png", id: "stripe-logo") %></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="links">
    <div class="container">
      <div class="row links-items">
        <div class="col-xs-6 col-sm-3 items-top" id="item-1">
          <h3>La cabane</h3>
          <ul>
            <li><%= link_to "Qui sommes-nous", qui_sommes_nous_path, class: "footer-item footer-link"%></li>
            <li><%= link_to "Nous contacter", new_contact_path, class: "footer-item footer-link"%></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3 items-top">
          <h3>Aide</h3>
          <ul>
            <li><%= link_to "FAQ", aide_path, class: "footer-item footer-link"%></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h3>Legal</h3>
          <ul>
            <li><%= link_to "CGV", cgv_path, class: "footer-item footer-link"%></li>
            <li><%= link_to "Mentions légales", mentions_legales_path, class: " footer-item footer-link"%></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3" id="shop-details">
          <h3>Contact</h3>
          <ul>
            <li><a class="footer-item footer-link" href="tel:+33642225711">+33 6 42 22 57 11</a></li>
            <li class="footer-item"><p>16 avenue pasteur<br> 33510, Andernos-les-Bains </p></li>
            <li><a class="footer-item footer-link" id="email-footer" href="mailto:contact@lacabanedemaii.com">contact@lacabanedemaii.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-social">
      <p>Suivez nous sur</p>
      <a href="https://www.facebook.com/lacabanedemaii16/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/la_cabane_de_maii/?hl=fr" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
    </div>
  </section>
  <hr class="separator3">
  <section class="footer-bottom">
    <div id="flex-container">
      <div id="bottom-footer-row">
        <%= image_tag "logo.jpg", class: "logo", alt: "la cabane de maï"%>
      </div>
      <div id="copyright">
        <p>© 2019 La cabane de Maï. Site réalisé par <a href="https://www.alexgwebdev.com/" target="_blank" rel="noopener noreferrer"><%= image_tag "alexgwebdev.png", class: "logo-alex", alt: "Alex G - Web developer"%></a></p>
      </div>
    </div>
  </section>
</footer>
