<div class="footer" >
  <div class="footer-link">
    <ul>
        <li><%= link_to "Qui sommes-nous", qui_sommes_nous_path, class: "footer-item footer-link"%></li>
        <li><%= link_to "Contact", new_contact_path, class: "footer-item footer-link"%></li>
        <li><%= link_to "Aide", aide_path, class: "footer-item footer-link"%></li>
        <li><%= link_to "CGV", cgv_path, class: "footer-item footer-link"%></li>
        <li><%= link_to "Mentions légales", mentions_legales_path, class: " footer-item footer-link"%></li>
      </ul>
  </div>
  <div class="footer-social">
    <p>Suivez nous sur </p>
    <a href="https://www.facebook.com/lacabanedemaii16/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/la_cabane_de_maii/?hl=fr" target="_blank"><i class="fab fa-instagram" rel="noopener noreferrer"></i></a>
  </div>
</div>
