<nav id="navbar" class="navbar-fixed-top">
  <div class="dropdown-background">
    <span class="arrow-style"></span>
  </div>
  <div class="navbar-top">
    <div class="logo">
      <%= link_to root_path do %>
      <%= image_tag "logo.jpg",class: "logo", alt: "la cabane de maï"%>
      <% end %>
    </div>
    <div class="hidden-xs hidden-sm">
      <div class="form-group">
        <%= render 'shared/search', query: params[:search] %>
      </div>
    </div>
    <div class="navbar-right">
      <div class="cart-text">
        <%= render "shared/cart_text" %>
        <p class="free_delivery hidden-xs">Frais de port offerts à partir de 50 €</p>
        <div class="dropdown-style">
          <% if current_order.order_items.size == 0 %>
          <div class="cart-anim-empty">
            <p class="text-center">Votre panier est vide</p>
            <p class="text-center"><em>Voir <%= link_to "les produits", produits_path %></em></p>
          </div>
          <% else %>
          <ul class="list-unstyled">
            <% current_order.order_items.each do |order_item| %>
            <li>
              <h6 class="text-center"><strong><%= order_item.produit.nom %></strong></h6>
              <div class="cart-anim">
              <%= cl_image_tag order_item.produit.photo, crop: :thumb, class: "pic-cart-anim" %>
                <div class="cart-anim-right">
                  <p> Qantité : <%= order_item.quantity %></p>
                  <p>Px unit : <span style="color: green"><%= humanized_money(order_item.unit_price)%> <%= currency_symbol %></span></p>
                </div>
              </div>
            </li>
            <hr class="sep">
            <% end %>
            <h5 class="text-right">Total : <span id="price" style="color: green"><%= humanized_money(current_order.total_price) %> <%= currency_symbol %></span></h5>
          <% end %>
          </ul>
        </div>
      </div>
    <% if user_signed_in? %>
      <div class="right hidden-xs hidden-sm">
        <%= link_to "Mes commandes", orders_path, class: "navbar-item navbar-link"  %>
      </div>
      <div class="carret dropdown hidden-xs hidden-sm">
        <i class="fas fa-caret-down dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu-bis">
          <span class="arrow"></span>
          <li><%= link_to t(".profile", default: "Mon compte"),edit_user_registration_path, class: "navbar-item navbar-link" %></li>
          <li><%= link_to t(".sign_out", default: "Déconnexion"),destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %></li>
        </ul>
      </div>
    </div>
    <div class="icons-right navbar-item hidden-md hidden-lg">
      <div class="dropdown dropdown-search">
        <i class="fa fa-search dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu-bis">
          <span class="arrow"></span>
          <li>
            <div class="form-group">
              <%= render 'shared/search', query: params[:search] %>
            </div>
          </li>
        </ul>
      </div>
      <i class="fa fa-bars burger"></i>
      <div class="sidenav">
        <i class="far fa-times-circle closebtn"></i>
        <ul class="">
          <li><%= link_to "Mes commandes", orders_path, class: "navbar-item navbar-link"  %></li>
          <li><%= link_to t(".profile", default: "Mon compte"),edit_user_registration_path, class: "navbar-item navbar-link" %></li>
          <li><%= link_to t(".sign_out", default: "Déconnexion"),destroy_user_session_path, method: :delete, class: "navbar-item navbar-link" %></li>
          <li role="separator" class="divider"></li>
          <% @prod_gammes.each do |g| %>
          <li>
            <%= link_to  gamme_path(g), class: "navbar-item navbar-link", id: "#{g.id}" do %>
              <%= g.name %>
            <% end %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
      <div class="icons-right navbar-right">
        <div class="right hidden-xs hidden-sm">
          <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-item navbar-link" %>
        </div>
      </div>
      <div class="icons-right navbar-item hidden-md hidden-lg">
        <div class="dropdown dropdown-search">
          <i class="fa fa-search dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu-bis">
            <span class="arrow"></span>
            <li>
              <div class="form-group">
                <%= render 'shared/search', query: params[:search] %>
              </div>
            </li>
          </ul>
        </div>
        <i class="fa fa-bars burger"></i>
        <div class="sidenav">
          <i class="far fa-times-circle closebtn"></i>
          <ul>
            <li>
              <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-item navbar-link" %>
            </li>
            <li role="separator" class="divider"></li>
            <% @prod_gammes.each do |g| %>
              <li>
                <%= link_to  gamme_path(g), class: "navbar-item navbar-link", id: "#{g.id}" do %>
                  <%= g.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</nav>
