<div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
</div>
<br><br>
<div class="container order-show">
  <h1 class="page-title text-center">Commande n° <%= @order.id %></h1>
  <hr class="sep">
  <div class="row prd-list">
    <div class="prd-list-left col-xs-12">
      <% @order_items.each do |order_item| %>
        <div class="produit-item">
          <div class="order-detail">
            <div class="order-list-left">
              <div class="order-product">
                <div class="text-center">
                  <h6><%= order_item.produit.nom %></h6>
                </div>
              <%= cl_image_tag order_item.produit.photo, crop: :thumb, class: "pic-recap" %>
              </div>
            </div>
            <div class="order-list-right">
              <div class="qte text-left">
                <h6> Quantité: <%= order_item.quantity  %></h6>
              </div>
              <div class="unit hidden-xs text-left">
                <h6>Prix unitaire :  <span id="price" style="color: green"><%= humanized_money(order_item.unit_price)%> <%= currency_symbol %></span></h6>
              </div>
              <div class="total text-left">
                <h6>Total : <span id="price" style="color: green"><%= humanized_money(order_item.total_price) %> <%= currency_symbol %></span></h6>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="prd-list-right text-center col-xs-12">
      <h6>Statuts de la commande :
      <% if %>
        <% @order.order_status_id == 2 %>
        <h6><strong style="color: green"><%= @order.order_status.name %></strong></h6>
      <% elsif %>
        <% @order.order_status_id == 1 %>
        <h6><strong style="color: orange"><%= @order.order_status.name %></strong></h6>
      <% elsif %>
        <% @order.order_status_id == 3 %>
        <h6><strong style="color: blue"><%= @order.order_status.name %></strong></h6>
      <% elsif %>
        <% @order.order_status_id == 4 %>
        <h6><strong style="color: red"><%= @order.order_status.name %></strong></h6>
      <% end %></h6>
      <hr class="sep">
      <% if @order.valid?  %>
        <h6 class="text-center"> <strong>Adresse de livraison :</strong></h6>
        <h6><%= @order.client_name.upcase %></h6>
        <h6><%= @order.deliv_adress_nb %>, <%= @order.deliv_adress %><br> <%= @order.deliv_adress_zip_code %>, <%= @order.deliv_adress_city %> <br> <%= @order.deliv_adress_pays %></h6>
      <h6>Montant :<strong style="color: green"> <%= humanized_money(@order.total_price) %> <%= currency_symbol %></strong></h6>
      <%= link_to "Retour vers paiement", new_order_payment_path(@order), class: "btn btn-finalize" %>
      <% else %>
      <br>
        <h6><strong style="font-style: italic" >Merci d'ajouter les détails nécessaires afin de valider la commande</strong></h6>
        <%= link_to "Retour vers le panier", cart_path %>
      <% end %>
    </div>
  </div>
</div>
