<div class="banner">
  <%= cl_image_tag "banniere_mai-02.png", :quality=>100, class: "img-responsive", alt: "La cabane de Maï"%>
</div>

<div class="container car">
  <div class="row">
    <div class="carousel slide multi-item-carousel hidden-xs" data-ride="carousel" id="theCarousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-md-4"><%= cl_image_tag "13178711_1016701331710549_7678757278327869600_n.jpg", :quality=>100, class: "img-responsive", alt: "La cabane de Maï"%></div>
        </div>
        <div class="item">
          <div class="col-md-4"><%= cl_image_tag "14915364_1142732629107418_5153850638075461140_n.jpg", :quality=>100, class: "img-responsive", alt: "La cabane de Maï"%></div>
        </div>
        <div class="item">
          <div class="col-md-4"><%= cl_image_tag "13221507_1017309201649762_8553038773421732273_n.jpg",:quality=>100, class: "img-responsive", alt: "La cabane de Maï"%></a></div>
        </div>
        <div class="item">
          <div class="col-md-4"><%= cl_image_tag "15109477_1156447084402639_7391547034456198838_n.jpg",:quality=>100, class: "img-responsive", alt: "La cabane de Maï"%></div>
        </div>
        <div class="item">
          <div class="col-md-4"><%= cl_image_tag "13240627_1018208531559829_8340728378530997831_n.jpg",:quality=>100, class: "img-responsive", alt: "La cabane de Maï"%>
          </div>
        </div>
        <div class="item">
          <div class="col-md-4"><%= cl_image_tag "13177594_1016143735099642_6162838839558132510_n.jpg",:quality=>100, class: "img-responsive", alt: "La cabane de Maï"%>
          </div>
        </div>
        <div class="item">
          <div class="col-md-4"><%= cl_image_tag "13177945_1018636241517058_335368478797749535_n.jpg",:quality=>100, class: "img-responsive", alt: "La cabane de Maï"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container presentation">
   <p class="text-center text-justify">
    Sélectionnant avec soin dans les meilleurs marques, <strong>LA CABANE DE MAÏ</strong> vous propose des senteurs déclinées de mille et une façons tant pour l’ambiance de la maison que pour le bien-être et la beauté du corps, des saveurs au travers de thés ou d’infus Bio et leurs accessoires. <br>
    Mais aussi un vaste choix de savons les plus originaux (Alep, Marseille... macaron, cup cake etc...) à découvrir ou à offrir et toutes sortes d’objets Utiles ou futiles au couleurs tantôt douces tantôt acidulées qui seront une véritable mine d’inspiration pour vos futurs cadeaux. <br>
    Enfin pour les tous petits, quelques jouets pleins de poésie et les fameux doudous de chez MOULIN ROTY viennent compléter le petit monde hétéroclite que Maï compose avec bonheur et bonne humeur dans sa « Cabane »...</p>
</div>


<div class="container">
  <hr class="separator">

  <%= link_to "produits", produits_path %>
  <%= link_to "gammes", gammes_path %>

</div>
