<div class="container">
  <div class="tabs">
    <a class="tab active" href="#">
      <h3>Maison</h3>
    </a>
    <a class="tab" href="#">
      <h3>Bien-Être</h3>
    </a>
    <a class="tab" href="#">
      <h3>Bord de Mer</h3>
    </a>
    <a class="tab" href="#">
      <h3>Enfant</h3>
    </a>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(70,70,70,0.3) 0%, rgba(45,45,45,0.1) 50%), url('<%= image_path "banner.jpg" %>');">
</div>



<div class="container car">
  <div class="row">
    <div class="car">
      <div class="carousel slide multi-item-carousel" data-ride="carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-12"><%= cl_image_tag "13178711_1016701331710549_7678757278327869600_n.jpg", class: "img-responsive", alt: "Chambre Riad Zouhra Bas"%></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><%= cl_image_tag "14915364_1142732629107418_5153850638075461140_n.jpg", class: "img-responsive", alt: "Chambre Riad Zouhra Bas"%></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><%= cl_image_tag "13221507_1017309201649762_8553038773421732273_n.jpg", class: "img-responsive", alt: "Cuisine Riad Zouhra"%></a></div>
          </div>
          <div class="item">
            <div class="col-xs-12"><%= cl_image_tag "15109477_1156447084402639_7391547034456198838_n.jpg", class: "img-responsive", alt: "Cuisine Riad Zouhra"%></div>
          </div>

          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>






<div class="container presentation">
   <p class="text-center text-justify">
    Sélectionnant avec soin dans les meilleurs marques, <strong>LA CABANE DE MAÏ</strong> vous propose des senteurs déclinées de mille et une façons tant pour l’ambiance de la maison que pour le bien-être et la beauté du corps, des saveurs au travers de thés ou d’infus Bio et leurs accessoires. <br>
    Mais aussi un vaste choix de savons les plus originaux (Alep, Marseille... macaron, cup cake etc...) à découvrir ou à offrir et toutes sortes d’objets Utiles ou futiles au couleurs tantôt douces tantôt acidulées qui seront une véritable mine d’inspiration pour vos futurs cadeaux. <br>
    Enfin pour les tous petits, quelques jouets pleins de poésie et les fameux doudous de chez MOULIN ROTY viennent compléter le petit monde hétéroclite que Maï compose avec bonheur et bonne humeur dans sa « Cabane »...</p>
</div>






