<div class="page">
  <div class="container">
    <h1 class="main-title text-center">Contactez-nous</h1>

    <div class="contact">
      <div class="contact-left">
        <div class="adresse">
          <div class="adresse-flex">
            <div class="adresse-left">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="adresse-right">
              <h6 class="sub-title-contact">Adresse</h6>
            </div>
          </div>
          <p class="main-text-contact">16 avenue pasteur<br>Andernos-les-Bains 33510</p>
        </div>
        <div class="phone">
          <div class="phone-flex">
            <div class="phone-left">
              <i class="fas fa-phone"></i>
            </div>
            <div class="phone-right">
              <h6 class="sub-title-contact">Téléphone</h6>
            </div>
          </div>
          <p class="main-text-contact">+33 6 42 22 57 11</p>
        </div>
        <div class="mail">
          <div class="mail-flex">
            <div class="mail-left">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="mail-right">
              <h6 class="sub-title-contact">E-mail</h6>
            </div>
          </div>
          <p class="main-text-contact">lacabanedemaii@gmail.com</p>
        </div>
      </div>

      <div class="contact-right col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-login contact-form">
          <%= simple_form_for (@contact) do |f| %>
          <div class="form-inputs">
            <%= f.input :name, label: "Nom", placeholder: 'Pierre Durant' %>
            <%= f.input :email, placeholder: 'pierre.durant@gmail.com' %>
            <%= f.input :phone_number, label: "Tel", placeholder: '+33600000000' %>
            <%= f.input :body, label: "Votre message" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Envoyez votre message", class: "btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

