<div class="container">
  <%= simple_form_for (@contact) do |f| %>
    <%= @contact.errors.full_messages.join(', ') %>
    <%= f.input :name, placeholder: 'Nom' %>
    <%= f.input :email, placeholder: 'E-mail' %>
    <%= f.input :phone_number, placeholder: 'Tel' %>
    <%= f.input :body, placeholder: 'Message' %>
    <%= f.submit 'Send' %>
  <% end %>
</div>
