<div class="cart-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 cart-list">
        <div class="product">
        <div class="name text-center">
          <h6><%= produit.nom %></h6>
        </div>
          <%= link_to produit_path(produit) do %>
          <%= cl_image_tag produit.photo, crop: :thumb, class: "cart-pic" %>
          <% end %>
        </div>
        <div class="unit hidden-xs text-center">
          <h6>Prix unitaire :  <span id="price" style="color: green"><%= humanized_money(order_item.unit_price)%> <%= currency_symbol %></span></h6>
        </div>

        <div class="quantity text-center">
            <%= simple_form_for order_item, remote: true do |f| %>
            <p>Quantité : </p><%= f.input :quantity,
                                        collection: 1..order_item.available_quantity,
                                        label: false,
                                        default: 1,
                                        value: order_item.quantity,
                                        class: "form-control"%>
            <%= f.hidden_field :produit_id, value: produit.id %>
            <%= f.submit "Modifier qté", class: "btn btn-block panier q" %>
            <% end %>
        </div>

        <div class="delete">
          <%#= link_to "<i class='far fa-trash-alt'></i>".html_safe, order_item, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir retirer #{order_item.produit.nom} de votre panier?" }, remote: true %>
          <%= button_to "delete", order_item, method: :delete, remote: true, form_class: "delete-item", data: { name: "#{order_item.produit.nom}" } %>

        </div>


        <div class="total text-center hidden-xs">
          <h6>Total : <span id="price" style="color: green"><%= humanized_money(order_item.total_price) %> <%= currency_symbol %></span></h6>
        </div>
      </div>
      <div class="total text-right hidden-md hidden-lg hidden-sm">
          <h6>Total : <span id="price" style="color: green"><%= humanized_money(order_item.total_price) %> <%= currency_symbol %></span></h6>
      </div>
    </div>
  </div>
</div>
