<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-11 cart-list">
      <div class="product">
        <%= cl_image_tag produit.photo, crop: :thumb, class: "cart-pic" %>
      </div>
      <div class="name text-center">
        <h6><%= produit.nom %></h6>
      </div>
      <div class="unit text-center">
        <h6>Prix unitaire:  <span id="price" style="color: green"><%= number_to_currency(order_item.unit_price, :locale => :fr)%></span></h6>
      </div>
      <%= simple_form_for order_item, remote: true do |f| %>
      <div class="quantity">
        <p>Quantité: </p><%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1, max: 9 %>
        <%= f.hidden_field :produit_id, value: produit.id %>
      </div>
      <% end %>
      <div class="delete">
        <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, order_item, method: :delete, data: { confirm: "Are you sure you wish to delete the product '#{order_item.produit.nom}' from your cart?" }, remote: true %>
      </div>
      <div class="total text-center">
        <h6><strong>Total : <span id="price" style="color: green"><%= number_to_currency(order_item.total_price, :locale => :fr) %></span></strong></h6>
      </div>
    </div>
  </div>
</div>
