<div class="shopping-cart">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <h1 id="cart-title" class="page-title text-center">Votre Panier</h1>
  <div class="cart-space">
    <% if !@order_item.nil? && @order_item.errors.any? %>
      <div class="alert alert-danger">
        <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if @order_items.size == 0 %>
      <div class="empty-cart container">
        <h4 class="text-center">Votre panier est vide</h4>
        <p class="text-center">Retourner voir <%= link_to "les produits", produits_path %></p>
        <hr class="sep">
      </div>
    <% else %>
      <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', produit: order_item.produit, order_item: order_item, show_total: true %>
        <div class="container prod-line">
          <hr class="separator2">
        </div>
      <% end %>
    <% end %>
  </div>
  <div class=" container cart-bottom">
    <div class="container delivery-fields">
      <h1 id="deliv-title" class="page-title text-center">Détails de livraison</h1>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-login form-deliv">
            <%= simple_form_for @order do |f| %>
              <%= f.error_notification %>
              <%= f.input :client_name, required: true, placeholder: "Jean Blaguin", autofocus: true, label: "Nom" %>
              <hr class="sep">
              <label class="autocomplete-text text-center">Entrez votre adresse afin remplir automatiquement les champs ci-dessous</label><br>
              <div id="locationField">
                <input id="autocomplete" class="form-control" placeholder="Entrez votre adresse ici" type="text" ></input>
              </div>
              <hr class="sep">
              <div class="form-inline deliv-street">
                <%= f.input :deliv_adress_nb, required: true, placeholder: "8", autofocus: true, label: "Adresse", input_html: {id: "street_number"} %>
                <%= f.input :deliv_adress, required: true, placeholder: "avenue des champs", autofocus: true, label: false, input_html: {id: "route"} %>
              </div>
              <div class="form-inline deliv-city">
                <%= f.input :deliv_adress_zip_code, required: true, placeholder: "75000", autofocus: true, label: "ville", input_html: {id: "postal_code"} %>
                <%= f.input :deliv_adress_city, required: true, placeholder: "Paris", autofocus: true, label: false, input_html: {id: "locality"} %>
              </div>
              <div class="form-inline deliv-country">
                <%= f.input :deliv_adress_pays, required: true, placeholder: "France", autofocus: true, label: "Pays", input_html: {id: "country"} %>
              </div>
              <%= f.input :deliv_adress_details, required: true, placeholder: "Entrée, escalier...", autofocus: true, label: "Détails complémentaires" %>
              <%= f.button :submit, "Confirmer l'adresse de livraison", class: "btn-success details-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container cart-bill">
      <div class="row">
        <div class="col-xs-12 price-resume">
          <div class="sous-total text-right">
            <h6>Sous-Total : <span><%= humanized_money(current_order.subtotal) %> <%= currency_symbol %></span></h6>
          </div>
          <div class="fdp text-right">
            <% if (current_order.subtotal < 50) %>
              <h6>Frais de port : <span><%= humanized_money(current_order.shipping) %> <%= currency_symbol %></span></h6>
              <p class="fdp-text"> plus que <strong><%= humanized_money(current_order.free_shipping)%> <%= currency_symbol %></strong> pour bénéficier des frais de port gratuits</p>
            <% else %>
              <h6>Frais de port : <span><%= humanized_money(0) %> <%= currency_symbol %></span></h6>
              <p class="fdp-text">Frais de ports offerts</p>
            <% end %>
          </div>
          <div class="full-total text-right">
            <h4><strong>TOTAL : <span style="color: green"><%= humanized_money(current_order.total_price) %> <%= currency_symbol %></span></strong></h4>
          </div>
        </div>
      </div>
        <div class="order-checkout">
          <% if (current_order.subtotal > 0) %>
            <div class="finalize text-right">
              <%= form_tag orders_path do %>
              <%= hidden_field_tag 'order_items_id', @order_items.ids %>
              <%= submit_tag 'COMMANDER', class: "btn btn-finalize" %>
              <% end %>
            </div>
          <% end %>
        </div>

    </div>
  </div>










</div>






