<div class="shopping-cart">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <h1 id="cart-title" class="page-title text-center">Votre Panier</h1>

  <div class="cart-space">
    <% if !@order_item.nil? && @order_item.errors.any? %>
      <div class="alert alert-danger">
        <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if @order_items.size == 0 %>
      <div class="empty-cart">
        <h4 class="text-center">Votre panier est vide</h4>
        <p class="text-center">Retourner voir <%= link_to "les produits", produits_path %></p>
      </div>
    <% else %>
      <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', produit: order_item.produit, order_item: order_item, show_total: true %>
        <div class="container prod-line">
          <hr class="separator2">
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container  text-right">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-lg-10 price-resume">
        <div class="sous-total text-right">
          <h6>Sous-Total : <span><%= humanized_money(current_order.subtotal) %> <%= currency_symbol %></span></h6>
        </div>
        <div class="fdp text-right">
          <% if (current_order.subtotal < 50) %>
            <h6>Frais de port : <span><%= humanized_money(current_order.shipping) %> <%= currency_symbol %></span></h6>
            <p class="fdp-text"> plus que <strong><%= humanized_money(current_order.free_shipping)%> <%= currency_symbol %></strong> pour bénéficier des frais de port gratuits</p>
          <% else %>
            <h6>Frais de port : <span><%= humanized_money(0) %> <%= currency_symbol %></span></h6>
            <p class="fdp-text">Frais de ports offerts</p>
          <% end %>
        </div>

        <div class="full-total text-right">
          <h4><strong>TOTAL : <span style="color: green"><%= humanized_money(current_order.total_price) %> <%= currency_symbol %></span></strong></h4>
        </div>
        <% if (current_order.subtotal > 0) %>
          <div class="finalize text-right">
            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'order_items_id', @order_items.ids %>
            <%= submit_tag 'COMMANDER', class: "btn btn-finalize" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




