<table style="width: 800px; margin: 0 auto; font-family: Arial, sans-serif;font-size: 13px; color: #323232; background: #ffffff;" width="800" cellspacing="0" cellpadding="0" align="center">
    <!--Super Header-->
    <tbody>
      <tr>
        <td style="padding: 3px 20px;">
          <table style="width: 800px; margin: 0 auto; font-family: Arial, sans-serif; border-bottom: 1px solid #d7d7d7;" width="8000" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td style="font-family: Arial, sans-serif; font-size: 16px; color: black; padding: 20px 0px 25px 0;" colspan="2" align="center">Bonne nouvelles! Nous avons bien reçus votre commande!</td>
              </tr>
              <tr>
                <td style="width: 260px; padding-bottom: 10px;">
                  <a href="https://lacabanedemaii.herokuapp.com/" target="_blank"> <img style="border: none; display: block;" src="https://res.cloudinary.com/drzibyjvb/image/upload/v1527003411/logo.jpg" alt="lacabanedemaii.com.com" width="125" height="100"> </a>
                </td>
                <td style="width: 300px; padding-bottom: 10px;" align="right"><a style="display: inline-block; width: 135px;background: #f5f5f5; font-family: Arial, sans-serif; font-size: 13px; font-size: 13px !important; color: #323232; padding: 4px 0px; text-align: center; border: 1px solid #d7d7d7; font-weight: 600; text-decoration: none;" href="/users/sign_in/" target="_blank">MON COMPTE</a></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
      <!--Super Header -end-->
    <tbody>
      <tr>
        <td style="text-align: center;"><span style="display: block; font-family: Arial, sans-serif; font-size: 26px; color: #323232; text-align: center; padding: 30px 0 14px;">Détails de livraison</span> <span style="display: inline-block; width: 70px; height: 1px; background: #d7d7d7; font-family: Arial, sans-serif; font-size: 1px; color: #323232; text-align: center; line-height: 1px; vertical-align: top;"></span>
        </td>
      </tr>
    </tbody>
</table>

<tr>
  <td style="padding: 10px 0 0;">
    <table style="width: 800px; margin: 0 auto;" width="560px" cellspacing="0" cellpadding="0" align="center">
      <tbody>
        <tr>
        <td style="padding: 0 50px 20px 20px; font-family: Arial, sans-serif; font-size: 14px; font-size: 14px !important; color: #6f6f6f; line-height: 21px;">
            <div style="font-family: Arial, sans-serif; font-size: 16px; color: #323232; font-weight: 600; padding-bottom: 4px; margin: 0;text-align: center;">Adresse de livraison</div>
            <p style="text-align: center;"><%= @order_pay.client_name.upcase %><br><%= @order_pay.deliv_adress_nb %>, <%= @order_pay.deliv_adress %><br> <%= @order_pay.deliv_adress_zip_code %>, <%= @order_pay.deliv_adress_city %> <br> <%= @order_pay.deliv_adress_pays %><br>
            </p>
        </td>
      </tbody>
    </table>
  </td>
</tr>


<div class="list-produits" style="margin: 0 auto;display: flex;justify-content: space-around;align-items: center;width: 800px;">
  <div class="prd-list-left" style="border:1px solid #DDCEBB;width:400px;">
    <% @order_items.each do |order_item| %>
      <div class="produit-item" style="margin: 0 auto;padding: 10px 0;height: 200px;">
        <div class="order-detail" style="display: flex;justify-content: space-around;align-items: center;">
          <div class="order-list-left">
            <div class="order-product" style="width: 130px;word-wrap: break-word;">
              <div class="text-center">
                <h6 style="font-size: 16px;font-weight: 400;text-align: center;margin: 15px 0;" ><%= order_item.produit.nom %></h6>
              </div>
              <div class="pic">
                <%= cl_image_tag order_item.produit.photo, :height=>125, :width=>125 %>
              </div>
            </div>
          </div>
          <div class="order-list-right">
            <div class="qte">
              <h6 style="font-size: 18px;font-weight: 400;text-align: center;margin: 15px 0;"> Quantité: <%= order_item.quantity  %></h6>
            </div>
            <div class="unit">
              <h6 style="font-size: 18px;font-weight: 400;text-align: center;margin: 15px 0;">Prix unitaire :  <span id="price" style="color: green"><%= humanized_money(order_item.unit_price)%> <%= currency_symbol %></span></h6>
            </div>
            <div class="total">
              <h6 style="font-size: 18px;font-weight: 400;text-align: center;margin: 15px 0;">Total : <span id="price" style="color: green"><%= humanized_money(order_item.total_price) %> <%= currency_symbol %></span></h6>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="price-resume" style="border:1px solid #DDCEBB;padding: 20px;">
    <div class="sous-total">
      <h6 style="font-size: 18px;font-weight: 400;text-align: center;margin: 15px 0;">Sous-Total : <span><%= humanized_money(@order_pay.subtotal) %> <%= currency_symbol %></span></h6>
    </div>
    <div class="fdp">
      <h6 style="font-size: 18px;font-weight: 400;text-align: center;margin: 15px 0;">Frais de port : <span><%= humanized_money(@order_pay.shipping) %> <%= currency_symbol %></span></h6>
    </div>
    <div class="full-total">
      <h4 style="font-size: 20px;font-weight: 400;text-align: center;margin: 15px 0;"><strong>TOTAL PAYE : <span style="color: green"><%= humanized_money(@order_pay.total_price) %> <%= currency_symbol %></span></strong></h4>
    </div>
  </div>
</div>

