<div class="breadcrumbs back">
  <%= render_breadcrumbs :separator => ' > ' %>
</div>
<br>
<div class="container order-recap-page">
  <h1 class="page-title text-center">Récapitulatif de la commande n° <%= @order.id %> : </h1>
  <hr class="separator">
  <%= form_tag order_payments_path(@order_total) do %>
    <div class="deliv-details-payment text-center">
      <h4 class="text-center"><strong>Adresse de livraison :</strong></h4>
      <h4><%= @order.client_name.upcase %></h4>
      <h4><%= @order.deliv_adress_nb %>, <%= @order.deliv_adress %><br> <%= @order.deliv_adress_zip_code %>, <%= @order.deliv_adress_city %> <br> <%= @order.deliv_adress_pays %></h4>
      <% if (!@order.deliv_adress_details.nil?) %>
        <h5 style="font-style: italic;"><%= @order.deliv_adress_details %></h5>
      <% end %>
    </div>
    <div class="recap-order-item">
      <div class="container recap-order">
        <% @order_total.each do |order_item| %>
          <div class="item-recap">
              <div class="item-recap-left">
                <%= cl_image_tag order_item.produit.photo, crop: :thumb, class: "pic-recap" %>
              </div>
              <div class="item-recap-right">
                <h6><strong><%= order_item.produit.nom %></strong></h6>
                <h6> Quantité : <%= order_item.quantity  %></h6>
                <h6>Prix unitaire :  <span id="price" style="color: green"><%= humanized_money(order_item.unit_price) %> <%= currency_symbol %></span></h6>
              </div>
          </div>
        <% end %>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-lg-10 price-resume">
            <div class="sous-total">
              <h6>Sous-Total : <span><%= humanized_money(@order.subtotal) %> <%= currency_symbol %></span></h6>
            </div>
            <div class="fdp">
                <h6>Frais de port :
                <% if (@order.subtotal < 50) %>
                  <span><%= humanized_money(current_order.shipping)%> <%= currency_symbol %></span>
                </h6>
                <% else %>
                <span><%= humanized_money(0)%> <%= currency_symbol %></span>
                <% end %>
            </div>
            <div class="full-total">
              <h4><strong>TOTAL A PAYER : <span style="color: green"><%= humanized_money(@order.total_price) %> <%= currency_symbol %></span></strong></h4>
            </div>
            <div class="stripe-checkout">
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
              </article>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-amount="<%= @order.total_price_cents %>"
                data-currency="eur"
                data-name="La cabane de Maï"
                data-description="Commande n°: <%= @order.id %> "
                data-image="https://res.cloudinary.com/drzibyjvb/image/upload/v1527003411/logo.jpg"
                data-email="<%= @order.customer %>"
                data-label="Payer"
                data-locale="fr">
              </script>
            </div>
            <div class="payment-disclaimer">
              <p>Les paiments sont opérés et sécurisés par l'entreprise <a href="https://stripe.com/docs/security/stripe">Stripe</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>








