<div class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <div class="modal-header header-size">
        <h5 class="modal-title" id="exampleModalLongTitle">Donnez votre avis</h5>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
              <%#= cl_image_tag @produit.photo, crop: :thumb, class: "img-responsive" %>
              <h5 class="title"><%= @produit.nom %></h5>
              <hr>
              <div class="form-review">
                <%= simple_form_for [@produit, @review] do |t| %>
                <%= t.error_notification %>
                <h6>Notez ce produit:</h6>
                <%= t.collection_radio_buttons :rating,
                  [[1, icon('fas', 'star')],
                  [2, icon('fas', 'star') + icon('fas', 'star')],
                  [3, icon('fas', 'star') + icon('fas', 'star') + icon('fas', 'star')],
                  [4, icon('fas', 'star') + icon('fas', 'star') + icon('fas', 'star') + icon('fas', 'star')],
                  [5, icon('fas', 'star') + icon('fas', 'star') + icon('fas', 'star') + icon('fas', 'star') + icon('fas', 'star')]],
                :first,
                :last %>
                <hr>
                <%= t.input :content, label: "Votre commentaire", required: true %>
                <%= t.input :recommend, as: :boolean, unchecked_value: false, checked_value: true, label: "Oui, je recommande ce produit"%>
                <%= t.input :author, label: "Votre nom", required: true %>
                <%= t.button :submit, class: "btn-success btn-max"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
